
<div class="row">

    <div class="col-6">
        <app-dona [labels]="labels1" [data]="data1" title="Primera Gráfica"></app-dona>
    </div>

    <div class="col-6">
        <app-dona [labels]="labels2" [data]="data2" title="Segunda Gráfica"></app-dona>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <app-dona [labels]="labels3" [data]="data3" title="Tercera Gráfica"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Cuarta Gráfica"></app-dona>
    </div>

</div>
