/* You can add global styles to this file, and also import other style files */


#themecolors .selector, .cursor {
    cursor: pointer;
}

.img-avatar {
    width: 200px;
    height: auto;
}

.w100 {
    width: 100px;
}

.avatar {
    border-radius: 100%;
    width: 75px;
    height: 75px;
}
